<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/location-page.css">
    <script src="/model/locationschema.js"></script>
    <script src="/model/restaurantschema.js"></script>
</head>

<body>

    <div class="card">
        <img class="card-logo" src="{{this.logo}}" alt="{{this.name}} Logo"></img>
        <div class="card-title">{{this.name}}</div>
        <div class="card-location">{{this.location}}</div>
        <div class="reviews">
            <div class="recommend"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i> {{this.recommendedCount}}</div>
            <div class="notrecommend"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i> {{this.notRecommendedCount}}</div>
        </div>
        <div class="reviews-sum">({{this.reviewsCount}} Reviews)</div>
        <p class="card-description">{{this.description}}</p>
        <a class="view" role="button" href="/restaurant/{{_id}}">VIEW ESTABLISHMENT</a>
    </div>

</body>

</html>