<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main-page.css">
    <script src="/js/main-page.js"></script>
    <script src="/js/nav-bar-search.js"></script>
</head>

<body>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="user-info">
                    <a href="user-profile.html">
                        <img src="{{usericon}}">
                        <span class="username">@{{username}}</span>
                    </a>
                </div>
                <div>
                    <h5>{{title}}</h5>
                    <p>{{comment}}</p>
                    <p><span id="recommendation">Thoughts: {{recommendation}}</span></p>
                    <div class="review-buttons">
                        <button class="edit" onclick="editReview(this)">Edit</button>
                        <button class="delete" onclick="deleteReview(this)">Delete</button>
                    </div>
                    <div class="count">
                        <p>Helpful: {{helpfulCount}}</p>
                        <p>Unhelpful: {{unhelpfulCount}}</p>
                    </div>
                    <div class="comment-box">
                        <textarea id="text-input" placeholder="comment..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>