<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <script src="/model/userschema.js"></script>
    <script src="/model/restaurantschema.js"></script>
    <script src="/model/reviewschema.js"></script>
    <script src="/public/js/edit-profile.js"></script>
    <script src="/controller/edit-profile.js"></script>

</head>

<body>
    <!-- Navigation bar -->
    {{> navbar}}

    <!-- Body -->
    <div class="profile_text">
        <div class="profile_pic">
            <img src="{{user.profilePicture}}">
            <p>Do you want to replace your icon?</p>

            <form id="statusForm" name="statusForm"> 
                <!-- Input for uploading a new image -->
                <label for="image">Select an image to upload:</label>
                <input type="file" name="image" id="image" accept="image/*">

                        
                <!-- Save button for the entire form -->
                <input class="btn" id="updateBtn" type="submit" value="Update"/>
            </form>
        </div>
            <div class="profile_text_text">
                <form action="#" method="post">
                    <!-- Input for editing profile text header -->
                    <input id="profile_text_header" type="text" name="newDescriptionTitle" placeholder="{{user.descriptionTitle}}">
                </form>
                <textarea name="newMessage" rows="5" placeholder="{{user.fullName}} (@{{user.username}}) {{user.description}}"></textarea>
            </div>
        </div>
    </div>

         
    
</body>

</html>