<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DLSU Food Recs</title>
    <link rel="stylesheet" href="/public/css/user-profile.css">
    <script src="/public/js/user-profile.js"></script>
    <script src="/public/js/nav-bar-search.js"></script>
  </head>
  <body>

    <!-- Navigation bar... -->

    <div class="profile_text">
      <div class="profile_pic">
        <img src="{{user.profilePic}}">
        <h1>@{{user.username}}</h1>
        <h4>{{user.location}}</h4>
        <p>Member since:</p>
        <p>{{user.memberSince}}</p>
      </div>
      <div class="profile_text_text">
        <h1>{{user.bio}}</h1>
        <h4>{{user.displayName}} (@{{user.username}})</h4>
        <p>{{user.intro}}</p>
        <p>{{user.details}}</p>
      </div>
    </div>

    <div class="recent-activity">
      <h1>recent activity</h1>
    </div>

    <div class="reviews">
      {{!-- Review templates go here... --}}
    </div>

    <div class="footer">
      <form action="more-profile.html" method="post">
        <button type="submit">Show More</button>
      </form>
    </div>

  </body>
</html>
